body{
    background: black;
    color:white;
    overflow: hidden;
}
h1{
    text-align: center;
}
#selection{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    margin: 5rem auto;
}
#paperBtn,#rockBtn,#scissorBtn{
    background:none;
    outline:none;
    border:1px solid black;
    box-shadow: 2px 5px 8px black;
    margin-bottom: 2rem;
   
}
img{
    width: 12rem;
    height: 12rem;  
    margin-bottom: 2rem;
}




img:hover{

    box-shadow: 0px 0px 20px yellow;
}

.scoreArea{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin:10rem;
    font-size: 2rem;
    border:1px solid black;
    height: 5rem;
    text-align: center
}
#player{
    position: absolute;
    top:30rem;
    left:30rem;


}
#computer{
    position: absolute;
    top:30rem;
    left:60rem;
}
#playAgainButton{
    background:gray;
    padding:1rem;
    border-radius: .5rem;
}









